<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Breadcrumb Navigation -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ "/" | relLangURL }}"><i class="fas fa-home me-1"></i>{{ i18n "navHome" | default "Home" }}</a></li>
                        {{ if and (ne .Type "page") (ne (.Type | title) .Title) }}
                        <li class="breadcrumb-item"><a href="/{{ .Type }}/">{{ .Type | title }}</a></li>
                        {{ end }}
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ol>
                </nav>
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
</div>
