<footer id="footer">
    <div class="container">
        <div class="row gy-4 gy-md-0">
            {{ if isset .Site.Params "about_us" }}
            <div class="col-md-4 col-sm-6">
                <h4>{{ i18n "aboutUs" }}</h4>
                {{ .Site.Params.about_us | safeHTML }}
                <hr class="d-md-none d-lg-none d-sm-none">
            </div>
            {{ end }}

            <div class="col-md-4 col-sm-6">
                {{ if isset .Site.Params "recent_posts" }}{{ if (default true .Site.Params.footer.recent_posts.enable) }}
                <h4>{{ i18n "recentPosts" }}</h4>
                <div class="blog-entries">
                    {{ range first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                    <div class="item mb-3">
                        <div class="image-wrapper">
                            <a href="{{ .Permalink }}">
                              {{ if isset .Params "banner" }}
                                <img src="{{ .Params.banner | relURL }}" class="img-fluid" alt="{{ .Title }}" loading="lazy" decoding="async" />
                                {{ else }}
                                <img src="{{ "img/placeholder.png" | relURL }}" class="img-fluid" alt="{{ .Title }}" loading="lazy" decoding="async" />
                              {{ end }}
                            </a>
                        </div>
                        <div class="mt-2">
                            <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <hr class="d-md-none d-lg-none">
                {{ end }}{{ end }}
            </div>

            {{ if isset .Site.Params "address" }}
            <div class="col-md-4 col-sm-6">
                <h4>{{ i18n "contactTitle" }}</h4>
                {{ .Site.Params.address | safeHTML }}
                <a href="{{ default "/contact" .Site.Params.contact_url }}" class="btn btn-small btn-template-main mt-3">{{ i18n "contactGoTo" }}</a>
                <hr class="d-md-none d-lg-none d-sm-none">
            </div>
            {{ end }}
        </div>
    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-6">
                {{ if isset .Site.Params "copyright" }}
                <p class="mb-0 text-start">{{ .Site.Params.copyright | safeHTML }}</p>
                {{ end }}
            </div>
            <div class="col-md-4 col-sm-6 text-center mb-3 mb-sm-0">
                <p class="mb-0 text-muted small">
                  {{ i18n "templateBy" | markdownify }} <a href="https://bootstrapious.com/universal-business-e-commerce-template" class="text-decoration-none">Bootstrapious</a>
                  {{ i18n "portedBy" | markdownify }} <a href="https://github.com/devcows/hugo-universal-theme" class="text-decoration-none">DevCows</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-6 text-end">
                <a href="#all" id="back-to-top" class="btn-back-to-top" aria-label="Back to top" title="Back to top">
                    <i class="fas fa-arrow-up"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
