<header class="navbar-affixed-top sticky-top">
    <nav class="navbar navbar-expand-lg" role="navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand home" href="{{ "/" | relLangURL }}">
                {{ if default false .Site.Params.disabled_logo }}
                  <h4 class="mb-0">{{ .Site.Params.logo_text }}</h4>
                {{ else }}
                  <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo" class="d-none d-sm-block" />
                  <img src="{{ .Site.Params.logo_small | relURL }}" alt="{{ .Title }} logo" class="d-block d-sm-none" />
                {{ end }}
                <span class="visually-hidden">{{ .Title }} - {{ i18n "navHome" }}</span>
            </a>
            <button class="navbar-toggler btn-template-main" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="{{ i18n "navToggle" }}">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="navbar-collapse" id="navigation">
                <ul class="navbar-nav ms-auto">
                  {{ $current := . }}

                  {{ range .Site.Menus.main.ByWeight }}
                  {{ $topLevel := replace .URL "/" "" }}
                  {{ $active := "" }}

                  {{ if eq $current.RelPermalink .URL }}
                    {{ $active = "active" }}
                  {{ end }}

                  {{ if eq $current.Type $topLevel }}
                    {{ $active = "active" }}
                  {{ end }}

                  {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
                    {{ range (split .URL "/") }}
                      {{ if eq "blog" . }}
                        {{ $active = "active" }}
                      {{ end }}
                    {{ end }}
                  {{ end }}

                  {{ if .HasChildren }}
                    <li class="nav-item dropdown {{ $active }}">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
                        <ul class="dropdown-menu">
                            {{ range .Children.ByWeight }}
                            <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                  {{ else }}
                  <li class="nav-item {{ $active }}">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                  {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- *** NAVBAR END ***-->
