{{ if .Site.Params.topbar.enable }}
<header>
  <div id="top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-auto">
          {{ .Site.Params.topbar.text | safeHTML }}
        </div>
        <div class="col-12 col-sm-auto ms-sm-auto">
          <div class="social">
            {{ range .Site.Menus.topbar.ByWeight }}
            <a href="{{ .URL | safeURL }}" target="_blank" class="social-link">{{ .Pre }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}
