<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>
  <body>
    <div id="all">
      {{ partial "top.html" . }}
      {{ partial "nav.html" . }}
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-md-9" id="contact-form">
              <h1>{{ .Title }}</h1>
              {{ .Content }}
              {{ partial "contact.html" . }}
            </div>
            <div class="col-md-3">
              {{ partial "sidebar.html" . }}
            </div>
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>